/* Mobile & Tablet */
@media (max-width: 63.9375em) {
    .place-buy-btn {
        padding: 16px 16px;
    }

    .contact-info {
        line-height: 2.0;
    }

    .contact-col-half input {
        padding: 12px 8px;
    }

    .contact-input-full {
        padding: 12px 8px;
    }

    #footer .social-list a {
        margin: 0 8px;
    }

    #footer .copyright {
        font-size: 18px;
    }

    #footer .copyright a {
        display: inline-block;
        padding: 8px 0;
    }
}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    #nav .subnav li a {
        padding: 4px 16px;
    }

    #footer .social-list {
        font-size: 48px;
    }
}

/* Mobile */
@media (max-width: 46.25em) {
    #header {
        overflow: hidden;
        
    }

    #header .search-btn {
        display: none;
    }

    #header .mobile-menu-btn {
        display: block;
    }

    #nav {
        display: block;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #nav > li {
        display: block;
    }

    #nav > li > a {
        width: 100%;
    }

    #nav .subnav {
        position: initial;
        background-color: #333;
    }

    #nav .subnav li a {
        color: #fff;
        padding: 4px 42px;
    }

    #content .member-item {
        width: 100%;
    }

    #content .member-img {
        width: 60%;
    }

    .place-item {
        width: 100%;
    }

    .place-buy-btn {
        width: 100%;
    }

    .contact-info, .contact-form {
        width: 100%;
    }

    .contact-info {
        margin-bottom: 32px;
    }

    .contact-row {
        margin-bottom: 0;
    }

    .contact-col-half {
        width: 100%;
        margin-bottom: 8px;
    }

    .form-submit {
        width: 100%;
    }

    #footer .social-list {
        font-size: 32px;
    }
}